  <button  mat-button (click)="NewTask()">
    <span>Adicionar Tarefa</span>
  </button>


    <!-- <button  mat-button (click)="botaoTeste()">
        <span>TESTE</span>
    </button> -->





<po-table
  [p-columns]="columns"
  [p-items]="task">
    <ng-template p-table-cell-template let-column="column" let-row="row">
      <h1 *ngIf="column.property === 'status' && row.status === 'X'" [style.background]="'green'">FINALIZADA</h1>
      <h1 *ngIf="column.property === 'status' && row.status === 'OK'" [style.background]="'orange'">PENDENTE</h1>
      <h1 *ngIf="column.property === 'editar'">
        <button  mat-button >
          <span (click)="editTask(task)">EDITAR TASK</span>
        </button>
      </h1>
     <!-- <div *ngIf="column.property === 'status' && row.status === 'CANCELED'">
       <h1 [style.background]="'red'">CANCELADA</h1>
       <span (click)="onClick()"><small>clique aqui</small></span>
     </div>
     <h1 *ngIf="column.property === 'status' && row.status === 'FINISHED'" [style.background]="'green'">FINALIZADA</h1>
     <h1 *ngIf="column.property === 'status' && row.status === 'OPENED'" [style.background]="'orange'">ABERTA</h1>
     <h1 *ngIf="column.property === 'status2'">Conteúdo do status 2</h1>
     <h1 *ngIf="column.property === 'status3'">Csonteúdo do status 3</h1> -->
   </ng-template>

